#text {
  font-size: 300px;
  margin: auto;
  widht: 50%;
}
#scroll-container {
  overflow: hidden;
}

#scroll-container-top {
  border: 2px black;
  overflow: hidden;
}


#scroll-text {
  font-size: 128px;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 7s linear infinite;
  -webkit-animation: my-animation 7s linear infinite;
  animation: my-animation 7s linear infinite;
}


/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#scroll-text-top {
    font-size: 128px;
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation2 7s linear infinite;
    -webkit-animation: my-animation2 7s linear infinite;
    animation: my-animation2 7s linear infinite;
  }

  /* for Firefox */
  @-moz-keyframes my-animation2 {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation2 {
    from { -webkit-transform: translateX(=100%); }
    to { -webkit-transform: translateX(100%); }
  }

  @keyframes my-animation2 {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
 }
